<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309915991965-vo6r57h3gt66qjelfolc2i7bq02r3kd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309915991965-vo6r57h3gt66qjelfolc2i7bq02r3kd0</string>
	<key>API_KEY</key>
	<string>AIzaSyAqzFFafA4fkSYQafSZVfDkhlPk58pTWMM</string>
	<key>GCM_SENDER_ID</key>
	<string>309915991965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GymApp.BMICal</string>
	<key>PROJECT_ID</key>
	<string>gymapp-664e3</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-664e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309915991965:ios:60efface434876e1bcf974</string>
</dict>
</plist>